<div class="parent">
        <h1 style="color:darkslategray">&nbsp;T A S K  &nbsp; M A N A G E R</h1>
<mat-card class="example-card">


<button (click)="addImp()" mat-raised-button color="primary" class="btnWidth" >{{head1}}</button>
<h3 style="color:darkslategray">E V E N T S</h3>
<div *ngIf="importantVisibility">
        <!-- <h3>Events</h3> -->
        
        <mat-form-field  class="inputWidth">
                <mat-label>Add Events</mat-label>
        <input type="text" matInput  type="text"  #data>
    </mat-form-field> &nbsp;
    <button (click)="onAdd(data)" mat-raised-button color="warn" class="secondaryButton" style="padding-left:5px">Add event</button>

</div>
<b *ngIf='cc > 0'>Total Events : {{cc}}</b>
<div *ngFor='let event of event'>
<app-regular-task [data]="event" (CountData)='totalEvents($event)' >
    <p #eventsss>{{EventCount}}</p>
</app-regular-task>
</div>
<br>
<div *ngIf="!visiblemain">
        <h3 style="color:darkslategray ;margin-top: 0px">T A S K S</h3>
        
    <!-- {{act.name}} -->
    <div class="scroll-box">
    <div *ngFor='let act of list'>
        <b style="color:teal">* {{act}}
        <button (click)='onDelete(act)' mat-button color="warn" ><mat-icon>delete</mat-icon></button>
    </b>
    </div>
</div>
<mat-form-field  class="inputWidth">
    <mat-label>Add Tasks</mat-label>
    <input type="text" matInput #action />
    </mat-form-field> &nbsp;
    <button (click)='onAddAction()' mat-raised-button color="warn">Add Task</button>
    <button (click)='decision()' [disabled]='disabble' mat-raised-button color="warn" class="btnWidth">What I do first ?</button>
</div>
</mat-card>

<router-outlet></router-outlet>