.example-card {
    max-width: 400px;
  }
.btnWidth {
  width: 400px;
}
.inputWidth{
  width:74%;
  /* color:red; */
  /* font-size: 20px; */
}
/* .secondaryButton{

} */
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.scroll-box {
  overflow-y: scroll;
  height: 70px;
  padding: 1rem;
  margin-top: -23px
}
/* .secondaryButton{
  padding-left:5px;
} */
